.primary-button {
    color: var(--text-color-alternative);
    padding: 16px;
    justify-content: center;
    align-items: center;

    border-radius: 999px;
    border: 1px solid var(--text-color-alternative);
    background: var(--bg-color-dark);
}

.primary-button:hover {
    cursor: pointer;
    background-color: var(--bg-color-light);
}

.secondary-button {
    color: var(--text-color-alternative);
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
}

.primary-button-alternative {
    color: var(--text-color-alternative);
    padding: 16px;
    justify-content: center;
    align-items: center;

    border-radius: 999px;
    border: 1px solid var(--text-color-alternative);
    background: var(--bg-color-xlight);
    border: none;
}

.primary-button-inverted {
    color: var(--text-color-alternative-inverted);
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--text-color-alternative);
    border: none;
}

.primary-button-inverted:hover {
    cursor: pointer;
    background-color: var(--bg-color-light);
}