.primary-button {
    color: var(--text-color-alternative);
    padding: 16px;
    justify-content: center;
    align-items: center;

    border-radius: 999px;
    border: 1px solid var(--text-color-alternative);
    background: var(--bg-color-dark);
}

.secondary-button {
    color: var(--text-color-alternative);
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
}

.primary-button-alternative {
    color: var(--text-color-alternative);
    padding: 16px;
    justify-content: center;
    align-items: center;

    border-radius: 999px;
    border: 1px solid var(--text-color-alternative);
    background: var(--bg-color-xlight);
    border: none;
}