nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.link[selected]{
    color: var(--color-primary);
    background-image: var(--bg-img-default-ellipse);
    background-repeat: no-repeat;
    background-size: contain;
}

.link {
    color: var(--text-color-default);
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
}


.logo {
    display: flex;
    height: 59px;
    justify-content: center;
    align-items: center;
    color: var(--text-color-alternative);

    text-align: center;
    font-family: Open Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.26px;
}

.primary-button {
    color: var(--text-color-alternative);
    padding: 16px;
    justify-content: center;
    align-items: center;

    border-radius: 999px;
    border: 1px solid var(--text-color-alternative);
    background: var(--bg-color-dark);
}

.secondary-button {
    color: var(--text-color-alternative);
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
}