nav {
    display: flex;
    width: 1536px;
    justify-content: space-between;
    align-items: center;
}

.link[selected]{
    color: var(--color-primary);
    background-image: var(--bg-img-default-ellipse);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo {
    color: #000000;
    display: flex;
    height: 59px;
    justify-content: center;
    align-items: center;
}