@import url(themes.css);
@import url(nav-bar.css);
@import url(main.css);
@import url(buttons.css);
@import url(trending.css);

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color-normal);
    gap: 32px;

    color: var(--text-color-default)
}

h2 {
    color: var(--text-color-alternative);
    font-family: Droid Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

a, p, button{
    text-decoration: none;
    text-align: center;
    font-family: Droid Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}