@import url(themes.css);
@import url(nav-bar.css);

body {
    background-color: var(--bg-color-normal);
}

a {
    text-decoration: none;
    text-align: center;
    font-family: Droid Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}