@import url(themes.css);
@import url(nav-bar.css);
@import url(main.css);
@import url(buttons.css);
@import url(trending.css);

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color-normal);
    gap: 32px;

    color: var(--text-color-default)
}

h2 {
    color: var(--text-color-alternative);
    font-family: Droid Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

a, p, button, input{
    text-decoration: none;
    text-align: center;
    font-family: Droid Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}

input {
    display: flex;
    padding: 16px 8px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--text-color-alternative);
    background: var(--bg-color-light);
    color: var(--text-color-alternative);
}

.pop-up {
    display: flex;
    width: 633px;
    height: 745px;
    padding: 64px 32px;
    flex-direction: column;
    align-items: left;
    align-content: left;
    justify-items: left;
    gap: 16px;
    border-radius: 8px;
    background-color: var(--bg-color-normal);
}

.pop-up h2 {
    color: var(--text-color-alternative);
}